<% @contacts.each do |contact| %>
  <h4>First Name: <a href="/client/contacts/<%= contact['id'] %>"><%= contact["first_name"] %></a></h4>
  <h4>Last Name: <%= contact["last_name"] %></h4>
  <h4>Email: <%= contact["email"] %></h4>
  <h4>Phone Number: <%= contact["phone_number"] %></h4>
  <br>
<% end %>